@using DapperDino.Models.FaqViewModels
@model DapperDino.Areas.Admin.Models.Products.ImagesOverviewViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section id="features" class="features">
    <div class="container">
        <div class="row">
            
            <div class="clearfix" style="padding-bottom:10px;"><a class="btn btn-primary pull-right" href="/Admin/Product/@Model.ProductId/AddImages">Add images</a></div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                @foreach (var image in Model.Images)
                {
                    <tr>
                        <td>
                            <img src="@image.Url" alt="@image.Alt" width="100"/>
                        </td>
                        
                        <td>
                            <a href="@Url.Action("Get", "ProductImages", new { id = image.Id})">Edit</a>&nbsp;&nbsp;
                            <a href="@Url.Action("Delete", "ProductImages", new { id = image.Id})">Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>

@section Scripts
    {

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pagingType": "full_numbers"
            });
        });
    </script>
}
