@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}




<section id="features" class="features">
    <div class="container">
        <div class="row">
            <h3>Your dashboard</h3>
        </div>
    </div>
</section>