
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="features" class="features faq-cards">
    <div class="container">
        <div class="row">
            <!-- Overview -->
            <h1>Thanks for requesting contact</h1>
            <p>Please keep checking your discord, we'll most likely pop up in your inbox within a day!</p>
            
        </div>
    </div>
</section>

@section Scripts {
    <script>
        jQuery(window).load(function () {

            $("#preloader").fadeOut("slow");

        });
    </script>
}