<!--
        Features
        ==================================== -->

<section id="features" class="features pricing">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Host your bot</h1>
        <p class="lead">Get your bot hosted on a 24/7 windows vps and be amongst one of the first in our community to try out our new VPS deals! <br /> <small>There's a $5 one time setup fee with all our deals.</small></p>
    </div>


    <div class="container">
        <div class="card-deck  text-center">
            <div class="col-md-4">
                <div class="card  shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Small</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>The ultimate "Starterkit"</li>
                            <li>Documentation for accessing the server</li>
                            <li>One managed update every month*</li>
                            <li>'Low' tier priority support</li>
                            <li>Help center access (work in progress)</li>
                        </ul>
                        <a href="/Hosting/Small" class="btn btn-lg btn-block btn-primary">Give me the small one</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card  shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>For bots that might require extra setup on the server</li>
                            <li>One on one chat for setup</li>
                            <li>One managed update every week*</li>
                            <li>'Mid' tier priority support</li>
                            <li>Everything included with the 'small' package</li>
                        </ul>
                        <a href="/Hosting/Pro" class="btn btn-lg btn-block btn-primary">I need the pro package</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$50 <small class="text-muted">/ mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Most stable for big bots</li>
                            <li>Discord call to setup the bot together</li>
                            <li>One managed update every day*</li>
                            <li>'Instant' tier priority support</li>
                            <li>Everything included with the 'pro' package</li>
                        </ul>
                        <a href="/Hosting/Enterprise" class="btn btn-lg btn-block btn-primary">Pro isn't enough</a>
                    </div>
                </div>
            </div>
        </div>

        <div><small>* We will help you update the bot to your new version, you can manually update it every time of the day you want, by yourself.</small></div>
    </div>
</section>

