
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="features" class="features  faq-cards">
    <div class="container">
        <div class="row text-center">

            <div class="sec-title text-center wow bounceInDown animated" data-wow-duration="500ms" style="margin-bottom:30px;">
                <h2>Thanks for requesting contact</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                <p>Please keep checking your discord, we'll most likely pop up in your inbox within a day!</p>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    <script>
        jQuery(window).load(function () {

            $("#preloader").fadeOut("slow");

        });
    </script>
}
