
@using DapperDino.Models
@using DapperDino.DAL.Models

@model ProductsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="features" class="features  faq-cards">
    <div class="container">
        <div class="row text-center">

            <div class="sec-title text-center wow bounceInDown animated" data-wow-duration="500ms" style="margin-bottom:30px;">
                <h2>I want more information about the @Model.Product!</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                <p>If you submit this form to us, we'll contact you as soon as possible!</p>
            </div>
        </div>

        <div class="row">
            <form asp-controller="Products" asp-action="Contact" method="post" bc-validation="true">

                @Html.HiddenFor(x => x.PType)
                @Html.HiddenFor(x => x.Product)

                <form-group>
                    <label asp-for="FirstName"></label>

                    <input class="form-control" asp-for="FirstName" />
                </form-group>

                <form-group>
                    <label asp-for="LastName"></label>

                    <input class="form-control" asp-for="LastName" />
                </form-group>

                <form-group>
                    <label asp-for="DiscordId"></label>

                    <input class="form-control" asp-for="DiscordId" />
                </form-group>

                <input class="btn btn-primary" type="submit" value="Contact me" name="submit" />
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        jQuery(window).load(function () {

            $("#preloader").fadeOut("slow");

        });
    </script>
}