<!--
        Features
        ==================================== -->

<section id="features" class="features pricing">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Discord bots</h1>
        <p class="lead">By buying a discord bot, you'll receive the code. The code has comments on most lines, to help out beginners and explain how everything works.</p>
    </div>


    <div class="container">
        <div class="card-deck  text-center">
            <div class="col-md-6">
                <div class="card  shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">RS Gamble Bot</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$199<small class="text-muted">.99</small></h1>
                        <p>More information coming soon, please request contact for more information.</p>
                        <a href="/Products/RuneScapeBot" class="btn btn-lg btn-block btn-primary">Request contact</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card  shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Music bot</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$4<small class="text-muted">.99</small></h1>
                        <p>Full fledged discord bot to manage your music.</p>
                        <p>More information coming soon, please request contact for more information.</p>
                        <a href="/Products/MusicBot" class="btn btn-lg btn-block btn-primary">Request contact</a>
                    </div>
                </div>
            </div>
        </div>

        <div><small>* Includes downloads of updated versions of the same project, does not include help to configure if you've changed the previous version.</small></div>
    </div>
</section>

