@using DapperDino.Areas.Admin.Models

@model ApplicantIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section id="features" class="features">
    <div class="container">
        <div class="row">
            You have succesfully accepted the application.
        </div>
    </div>
</section>