
@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <environment names="Development,Production,Staging">
        <script src="~/dist/js/ticketWrapper/bundle.js" asp-append-version="true"></script>
    </environment>

</head>
<body>
    <div id="app">

    </div>
</body>
</html>