
@using DapperDino.Models
@using DapperDino.DAL.Models

@model ApplyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="features" class="features  faq-cards">
    <div class="container">
        <div class="row text-center">

            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                <h2>I want to become a 'Happy To Help' member!</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                <p>To become a Happy To Help member, please fill out this form.</p>
                <p>You should be redirected to the homepage if you fill it in correctly/</p>
            </div>
        </div>


        <form-group class="row">
            <form asp-controller="Apply" asp-action="Post" method="post" bc-validation="true">

                <div class="form-group">
                    <label asp-for="FirstName"></label>

                    <input class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName"></label>

                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DiscordId"></label>

                    <input class="form-control" asp-for="DiscordId" />
                    <span asp-validation-for="DiscordId" class="text-danger"></span>
                </div>

                <div class="divider"></div>

                <div class="form-group">
                    <label asp-for="Explanation"></label>

                    <input class="form-control" asp-for="Explanation" />
                    <span asp-validation-for="Explanation" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Links"></label>

                    <input class="form-control" asp-for="Links" />
                    <span asp-validation-for="Links" class="text-danger"></span>
                </div>

                <input class="btn btn-primary" type="submit" value="Apply" name="submit" />
            </form>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}