
@using DapperDino.Models
@using DapperDino.DAL.Models

@model ApplyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="features" class="features faq-cards">
    <div class="container">
        <div class="row">
            <!-- Overview -->
            <h1>Become a Happy To Help member!</h1>
            <p>To become a Happy To Help member, please fill out this form.</p>
            <p>You should be redirected to the homepage if you fill it in correctly/</p>
        </div>

        <form-group class="row">
            <form asp-controller="Apply" asp-action="Post" method="post" bc-validation="true">

                <form-group>
                    <label asp-for="FirstName"></label>

                    <input class="form-control" asp-for="FirstName" />
                </form-group>

                <form-group>
                    <label asp-for="LastName"></label>

                    <input class="form-control" asp-for="LastName" />
                </form-group>

                <form-group>
                    <label asp-for="DiscordId"></label>

                    <input class="form-control" asp-for="DiscordId" />
                </form-group>

                <div class="divider"></div>

                <form-group>
                    <label asp-for="Explanation"></label>

                    <input class="form-control" asp-for="Explanation" />
                </form-group>

                <form-group>
                    <label asp-for="Links"></label>

                    <input class="form-control" asp-for="Links" />
                </form-group>

                <input class="btn btn-primary" type="submit" value="Apply" name="submit" />
            </form>
    </div>
</section>

@section Scripts {
    <script>
        jQuery(window).load(function () {

            $("#preloader").fadeOut("slow");

        });
    </script>
}