<!--
        Home Slider
        ==================================== -->

<section id="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Indicators bullet -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <!-- End Indicators bullet -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <!-- single slide -->
            <div class="item active" style="background-image: url(images/background.png);">
                <div class="carousel-caption">
                    <h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">Meet<span> DapperDino</span>!</h2>
                    <h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color">/coding</span> the community you want to be a part of!</h3>
                    <p data-wow-duration="1000ms" class="wow slideInRight animated">We are a community of starting and professional developers</p>

                    <ul class="social-links text-center">
                        <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end single slide -->
            <!-- single slide -->
            <div class="item" style="background-image: url(images/background.png);">
                <div class="carousel-caption">
                    <h2 data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated">Meet<span>our Team</span>!</h2>
                    <h3 data-wow-duration="500ms" class="wow slideInLeft animated"><span class="color">/coding</span> our fulltime development team.</h3>
                    <p data-wow-duration="500ms" class="wow slideInRight animated">We are a team of professional developers</p>

                    <ul class="social-links text-center">
                        <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end single slide -->

        </div>
        <!-- End Wrapper for slides -->

    </div>
</section>

<!--
End Home SliderEnd
==================================== -->
<!--
        Features
        ==================================== -->

<section id="features" class="features">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                <h2>What we do</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            </div>

            <!-- service item -->
            <div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-github fa-2x"></i>
                    </div>

                    <div class="service-desc">
                        <h3>Open Source</h3>
                        <p>All of our own code is open source. We embrace the open source community by releasing our website, api and discord bot to the public at <a href="http://dapper.codes">dapper.codes</a>.</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-pencil fa-2x"></i>
                    </div>

                    <div class="service-desc">
                        <h3>Development (SOON)</h3>
                        <p>If you're looking for a great discord bot but can't be bothered to create one yourself, we can help you out too! We're selling some of our private bots and we're accepting custom offers here.</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-bullhorn fa-2x"></i>
                    </div>

                    <div class="service-desc">
                        <h3>One on one (SOON)</h3>
                        <p>If you're looking for a more personal way of getting help with coding, feel free to fill out the form. One on one tutoring isn't a free service. We've got our ticket system for helping you out in the discord server if you want to keep it free.</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->

        </div>
    </div>
</section>

<!--
End Features
==================================== -->
<!--
Meet Our Team
==================================== -->

<section id="team" class="team">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
                <h2>Meet the DapperCoding team</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            </div>

            <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
                <p>We've worked our asses off to create something beautiful. Our ultimate goal is to support everyone out there that wants to be a developer but doesn't know where to start.</p>
            </div>

            <!-- single member -->
            <!figure class="team-member col-md-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                <div class="member-thumb">
                    <img src="images/team/nathan.jpg" alt="Nathan Farrer" class="img-responsive" />
                    <figcaption class="overlay">
                        <h5>Aspiring Game Developer </h5>
                        <p>The Dapper Dino himself, loves to get people interested enough to delve into coding and start making their own creations.</p>
                        <ul class="social-links text-center">
                            <li><a href="https://github.com/DapperDino"><i class="fa fa-github fa-lg"></i></a></li>
                            <li><a href="https://twitter.com/DapperDino4"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li><a href="https://www.facebook.com/nathan.farrer.5"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/nathan-farrer-1406b0168/"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        </ul>
                    </figcaption>
                </div>
                <h4>Nathan Farrer</h4>
                <span>Head of bot development</span>
            </!figure>
            <!-- end single member -->
            <!-- single member -->
            <!figure disable-brecons class="team-member col-md-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="member-thumb">
                    <img src="images/team/mick.jpg" alt="Mick Rustenhoven" class="img-responsive" />
                    <figcaption class="overlay">
                        <h5>Self educated web developer </h5>
                        <p>Working on this beautiful project to become a better developer.</p>
                        <ul class="social-links text-center">
                            <li><a href="https://github.com/Mickie456"><i class="fa fa-github fa-lg"></i></a></li>
                            <li><a href="https://twitter.com/Mickerd_"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li><a href="https://www.facebook.com/mick.rustenhoven"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/mick-rustenhoven-92765ba2/"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        </ul>
                    </figcaption>
                </div>
                <h4>Mick Rustenhoven</h4>
                <span>Head of website development</span>
            </!figure>
            <!-- end single member -->
        </div>
    </div>
</section>

<!--
End Meet Our Team
==================================== -->
<!--
Some fun facts
==================================== -->

<section id="facts" class="facts">
    <div class="parallax-overlay">
        <div class="container">
            <div class="row number-counters">

                <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                    <h2>Some Fun Facts</h2>
                    <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                </div>

                <!-- first count item -->
                <div class="col-md-4 col-sm-12 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="counters-item">
                        <i class="fa fa-clock-o fa-3x"></i>
                        <strong data-to="874">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Hours of Work</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="counters-item">
                        <i class="fa fa-users fa-3x"></i>
                        <strong data-to="4">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Satisfied Clients</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item">
                        <i class="fa fa-rocket fa-3x"></i>
                        <strong data-to="5">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p> Projects Delivered </p>
                    </div>
                </div>
                <!-- end first count item -->

            </div>
        </div>
    </div>
</section>

<!--
End Some fun facts
==================================== -->
