.faq-cards .row + .row {
    margin-top: 25px;
}

.faq-cards .card {
    width: 100%;
}
.card {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eee;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
}

.card-text {
    margin-top: 10px;
    line-height: 1.4em;
}

.card a {
    width: 100%;
    border-radius: 0;
}

@media (max-width: 995px) {
    .faq-cards .row + .row {
        margin-top: 0;
    }

    .faq-cards .card {
        margin-bottom: 10px;
    }
}
