@using DapperDino.Areas.Admin.Models
@model HostingEnquiryIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Discord Username</th>
                        <th>Package</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                @foreach (var enquiry in Model.List)
                {
                    <tr>
                        <td>
                            @enquiry.DiscordId
                        </td>
                        <td>
                            @(enquiry.PackageType == DapperDino.DAL.Models.HostingType.Small 
                                    ? Html.Raw("Small") 
                                    : enquiry.PackageType == DapperDino.DAL.Models.HostingType.Pro
                                        ? Html.Raw("Pro") 
                                        : Html.Raw("Enterprise"))
                        </td>
                        <td>
                            <a href="~/Admin/Hosting/Details/@enquiry.Id">Details</a>&nbsp;&nbsp;
                            <a href="@Url.Action("Delete", "Hosting", new { id = enquiry.Id})">Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>

@section Scripts
    {

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pagingType": "full_numbers"
            });
        });
    </script>
}
