@charset "utf-8";
@import "vue-multiselect.scss";
@import "~bulma/bulma";
/*-------------------------------

    Global

--------------------------------- */

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

label.label {
    font-size: 0.8em;
}

/*-------------------------------

    Animations and transitions

--------------------------------- */

.component-fade-enter-active,
.component-fade-leave-active {
    transition: opacity 0.3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
    opacity: 0;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400, 700');

$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;

.people-list {
    width: 260px;
    float: left;

    .search {
        padding: 20px;
    }

    input {
        border-radius: 3px;
        border: none;
        padding: 14px;
        color: white;
        background: #6a6c75;
        width: 90%;
        font-size: 14px;
    }

    .fa-search {
        position: relative;
        left: -25px;
    }

    ul {
        padding: 20px;
        height: 770px;

        li {
            padding-bottom: 20px;
        }
    }

    img {
        float: left;
    }

    .about {
        float: left;
        margin-top: 8px;
    }

    .about {
        padding-left: 8px;
    }

    .status {
        color: $gray;
    }
}

.chat {
    width: 490px;
    float: left;
    background: #f2f5f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;

    .chat-header {
        padding: 20px;
        border-bottom: 2px solid white;

        img {
            float: left;
        }

        .chat-about {
            float: left;
            padding-left: 10px;
            margin-top: 6px;
        }

        .chat-with {
            font-weight: bold;
            font-size: 16px;
        }

        .chat-num-messages {
            color: $gray;
        }

        .fa-star {
            float: right;
            color: #d8dadf;
            font-size: 20px;
            margin-top: 12px;
        }
    }

    .chat-history {
        padding: 30px 30px 20px;
        border-bottom: 2px solid white;
        overflow-y: scroll;
        height: 575px;

        .message-data {
            margin-bottom: 15px;
        }

        .message-data-time {
            color: lighten($gray, 8%);
            padding-left: 6px;
        }

        .message {
            color: white;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 30px;
            width: 90%;
            position: relative;

            &:after {
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: $green;
                border-width: 10px;
                margin-left: -10px;
            }
        }

        .my-message {
            background: $green;
        }

        .other-message {
            background: $blue;

            &:after {
                border-bottom-color: $blue;
                left: 93%;
            }
        }
    }

    .chat-message {
        padding: 30px;

        textarea {
            width: 100%;
            border: none;
            padding: 10px 20px;
            font: 14px/22px "Lato", Arial, sans-serif;
            margin-bottom: 10px;
            border-radius: 5px;
            resize: none;
        }

        .fa-file-o,
        .fa-file-image-o {
            font-size: 16px;
            color: gray;
            cursor: pointer;
        }

        button {
            float: right;
            color: $blue;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background: #f2f5f8;

            &:hover {
                color: darken($blue, 7%);
            }
        }
    }
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: $green;
}

.offline {
    color: $orange;
}

.me {
    color: $blue;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


html, body {
    background: #23272A;
    overflow: hidden;
}

.reaction-wrapper {
    background: #2C2F33;
    color: #dcddde;

    .avatar {
        max-width: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .reaction-inner-wrapper {
    }

    position: fixed;
    overflow-y:auto;
    overflow-x:hidden;
    left: 300px;
    top: 52px;
    bottom: 70px;
    right: 300px;
}


/*
 *  STYLE 1
 */

.reaction-wrapper::-webkit-scrollbar-track,
.left-menu::-webkit-scrollbar-track,
.right-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.reaction-wrapper::-webkit-scrollbar,
.left-menu::-webkit-scrollbar,
.right-menu::-webkit-scrollbar {
    width: 12px;
    background-color: #23272a;
}

.reaction-wrapper::-webkit-scrollbar-thumb,
.left-menu::-webkit-scrollbar-thumb
.right-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}




.right-menu, .left-menu {

    li {
        padding-top: 10px;
        padding-left: 10px;
        color: #8e9297;
    }

    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
}

.left-menu {
    left: 0;
    right: 300px;
    width: 300px;
    top: 52px;
}

.right-menu {
    right: 0;
    width: 300px;
    top: 52px;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    background: #2C2F33;
}

.no-margins {
    margin: 0 !important;
}

.navbar {
    border: 0;
    border-radius: 0;
}


.discord-embed {
    max-width: 600px;
    margin-top: 10px;
    background-color: #23272a;
    border-radius:6px;
    padding: 10px;
    
    .discord-header {
        float: left;

        .discord-title {
            color: #ffffff;

        }

        .discord-description {
            font-size:14px;
        }
    }

    .discord-thumbnail {
        float: left;
        margin-left: 25px;

        img {
            border-radius:6px;
            max-width:77px;
        }
    }
}